body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


//----------------------------------------------------- Home Page ------------------------------------------------------

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Jost", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #666666;
  text-align: left;
  background-color: #fff;
}

a {
  color: #000000;
  text-decoration: none;
  background-color: transparent;
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  font-size: 36px;
  line-height: 1.44;
  color: #000000;
}

@media (max-width: 1200px) {
  h2 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 26px;
  }
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: #666666;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.6125rem 1.875rem;
  font-size: 1rem;
  line-height: 1.4375;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
  color: #666666;
  text-decoration: none;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
  box-shadow: none;
  pointer-events: none;
  cursor: none;
}

.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-dark.disabled,
.btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-outline-primary {
  color: #000000;
  border-color: #000000;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #000000;
  background-color: transparent;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1650px;
}



.add-to-wishlist {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.add-to-wishlist:hover {
  background-color: #000;
}

.add-to-wishlist svg {
  width: 24px;
  height: 24px;
}

.add-to-wishlist:hover svg {
  color: #fff;
}

//*************************************************************************************************************************